@media (max-width: 1000px) {
  .header__nav.is-scroll .logo a {
    font-size: 1.2rem;
    padding-right: 20px;
  }
  .nav__menu li a {
    font-size: 1.1rem;
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro__content_right {
    margin-top: 40px;
    justify-content: center;
  }
  .green-theme {
    flex-direction: column;
  }
  .header__intro {
    :first-child,
    :last-child {
      width: 100%;
    }
  }
  .feedback__right {
    padding-left: 0px;
  }
  .services__items {
    margin-top: 20px;
  }
  .services__item {
    &.active {
      .item__title {
        font-size: 1.3em;
        .end {
          font-size: 1.4em;
        }
        img {
          width: 30px;
        }
      }
    }
  }

  .item__content {
    flex-direction: column;
    img {
      margin: 0;
    }
    .service__text {
      padding: 0 0 0 10px;
      p {
        font-size: 1.1rem;
      }
    }
  }

  .feedback {
    padding: 50px 20px;
    h2 {
      margin-top: 0;
    }
  }
  .swiper-slide-prev {
    .comment {
      box-shadow: none !important;
    }
  }
  .feedback__content_left {
    margin-bottom: 50px;
  }
}

@media (max-width: 860px) {
  body.lock {
    overflow: hidden;
  }
  .logo__text {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    &.is-scroll {
      padding: 0 20px;
    }
  }
  .nav__logo a {
    position: relative;
    z-index: 12;
  }
  .nav__burger {
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 11;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }
  .menu__phone {
    transition: all 0.3s ease-in-out;
    ul {
      margin-top: 20%;
      @include flex-center;
      flex-direction: column;
    }
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $nav;
    &.active {
      left: 0;
      z-index: 11;
    }
    .menu-list {
      flex-direction: column;
      li {
        margin: 15px 0;
      }
    }
  }

  .nav__menu,
  .nav__sign-up {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }
  .header__intro {
    padding: 130px 30px 50px;
    p {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }
  }
  .intro__button a {
    font-size: 1.2rem;
  }

  .title {
    width: 100%;
    margin: 20px 10px 0;
    padding: 0 10px;
    h2 {
      font-size: 2.5rem;
    }
    .subtitle {
      max-width: none;
      font-size: 1.2rem;
    }
    .text {
      max-width: none;
    }
  }
  .tools__stat {
    margin-top: 70px;
  }
  .services {
    padding: 30px 20px 50px;
  }

  .feedback {
    .swiper-container {
      max-width: 500px;
      width: 100%;
      max-height: 500px;
      height: 100%;
      margin-left: 30px;
    }
    padding: 50px 20px;
    h2 {
      margin-top: 0;
    }
    .swiper-button-prev {
      top: -15px;
    }
    .swiper-container {
      max-height: 350px;
    }
    .feedback__item {
      margin-bottom: 40px;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
    }
  }
  .feedback__content_left {
    margin-bottom: 40px;
  }
  .comment {
    padding: 20px;
    p {
      font-size: 1.1rem;
    }
  }

  .contact__form {
    grid-template-columns: 1fr;
    max-width: 500px;
    width: 100%;
    padding: 10px 25px;
    :nth-child(5) {
      grid-column: 1/2;
    }
  }
  footer {
    padding: 10px 20px;
    grid-template-columns: 1fr;
    .menu-list {
      flex-direction: column;
      li {
        a {
          font-size: 1.4rem;
          font-weight: 400;
        }
        margin-bottom: 10px;
      }
    }
    ul:nth-child(4) {
      grid-row-start: 3;
      margin: 0;
      justify-self: end;
    }
    .footer__addition {
      margin-top: 20px;
    }
    .footer__about {
      grid-column: 1/2;
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 900px) {
  .feedback {
    .feedback__right {
      width: 100%;
    }
    .swiper-wrapper {
      width: 100% !important;
    }
    .feedback__item {
      img {
        display: none;
      }
    }
    .swiper-container {
      display: flex;
      justify-content: center;
      margin-left: auto;
    }
    .swiper-slide {
      width: 100% !important;

      .comment {
        width: 90%;
        margin: 0 auto;
      }
    }
    .swiper-button-prev {
      top: 50%;
      left: 0;
      transform: rotate(0deg);
    }
    .swiper-button-next {
      top: 50%;
      left: 96%;
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 760px) {
  .team {
    .team__member {
      margin: 30px 0;
      padding: 0 10px;
      p {
        font-size: 1.2rem;
      }
    }
    .swiper-slide.swiper-slide-prev,
    .swiper-slide.swiper-slide-next {
      width: 100% !important;
    }
    .swiper-slide.swiper-slide-active {
      width: 100% !important;
    }
    .swiper-pagination-bullet-active {
      background: $red;
    }
  }
  .feedback {
    .swiper-button-prev {
      left: -2%;
    }
  }
}

@media (max-width: 400px) {
  .feedback {
    .swiper-button-prev {
      left: -4%;
    }
  }
}
